.menu {
  font-family: "Courier", sans-serif;
  color: whitesmoke;
}

.create-btn {
  background-color: white;
  color: black;
  font-family: "Courier", sans-serif;
}

#chat {
  transition: margin-left .5s;
  padding: 16px;
}

p {
  transition: margin-left .5s;
  padding: 16px;
}